        <header>
            <section>
                <h1>Hibernate</h1>
                    
                  <li>
                  <%= link_to('Log out', destroy_user_session_path, method: :delete) %>
                  </li>
                    <li>
                  <%= link_to('Home', root_path) %>
                  </li>
                    
            </section>
        </header>