<!DOCTYPE html>
<html>
    <head>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
        <link rel="stylesheet" href="homepage.css" type="text/css" media="screen"> 
    </head>
    <body>
        <header>
            <section>
                <h1>GO Bears</h1>
            </section>
        </header>
        
        <section>
        
        <div id="map" style='width: 800px;'>
          <div id="sidebar_builder" style='width: 800px; height: 400px;'></div>
            </div>

        <!-- sidebar_container -->
        <div id="listings">
            
        </div>
            
        </section>
        
        
    </body>
</html>